Node-Red-Slack-Flow
[
  {
    "id": "dff7750b.90bc68",
    "type": "tab",
    "label": "Amy Ingram on Slack"
  },
  {
    "id": "2e07ce7b.059c12",
    "type": "mqtt-broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": ""
  },
  {
    "id": "b2fa5f48.18814",
    "type": "mqtt-broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": ""
  },
  {
    "id": "f8ee169b.a8a4e8",
    "type": "watson-conversation-v1",
    "z": "dff7750b.90bc68",
    "name": "Amy Ingram",
    "workspaceid": "06b4c2e5-281f-46ca-a07e-30745d3240b1",
    "multiuser": true,
    "context": true,
    "x": 343,
    "y": 305,
    "wires": [
      [
        "b01f9040.8ce62",
        "40c4402b.63c92",
        "5b31d8bf.4d79e8"
      ]
    ]
  },
  {
    "id": "4a757760.10dce8",
    "type": "Slack Bot In",
    "z": "dff7750b.90bc68",
    "name": "Amy's Slack (IN-RW)",
    "apiToken": "xoxb-120848116019-2dQ1zY30ryweFM8o9NEdZwuz",
    "channel": "",
    "x": 95,
    "y": 299,
    "wires": [
      [
        "33a1bc0e.a877e4"
      ]
    ]
  },
  {
    "id": "2cecea39.e91006",
    "type": "Slack Bot Out",
    "z": "dff7750b.90bc68",
    "name": "Amy's Slack (Out-RW)",
    "apiToken": "xoxb-120848116019-2dQ1zY30ryweFM8o9NEdZwuz",
    "channel": "",
    "x": 1210.5,
    "y": 504,
    "wires": []
  },
  {
    "id": "76793516.3b4e8c",
    "type": "http response",
    "z": "dff7750b.90bc68",
    "name": "",
    "x": 754.5,
    "y": 631,
    "wires": []
  },
  {
    "id": "627657ea.2c4e48",
    "type": "debug",
    "z": "dff7750b.90bc68",
    "name": "Input Object Debug",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 328.5,
    "y": 199,
    "wires": []
  },
  {
    "id": "b002e1ed.9a1f4",
    "type": "debug",
    "z": "dff7750b.90bc68",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "payload",
    "x": 1100.5,
    "y": 243,
    "wires": []
  },
  {
    "id": "b01f9040.8ce62",
    "type": "function",
    "z": "dff7750b.90bc68",
    "name": "prepare answer",
    "func": "var WatsonResponse = JSON.stringify(msg.payload.output.text);\n\nWatsonResponse = WatsonResponse.replace(/[\"]+/g, '');\nWatsonResponse = WatsonResponse.replace(/[[\\]]/g,'');\n\nvar DynFunc = WatsonResponse;\n\nif( DynFunc.indexOf('the list of stories to be written') >= 0){\n  // list stories to be written\n  msg.payload = \"pretend this is a list of stories\";\n  return [null,msg];\n} else {\n  // default action\n  msg.payload = WatsonResponse;\n  return [msg,null];\n}\n",
    "outputs": "2",
    "noerr": 0,
    "x": 358.5,
    "y": 400,
    "wires": [
      [
        "be6db449.cf80e8"
      ],
      []
    ]
  },
  {
    "id": "d9efdd0d.cc0bd",
    "type": "debug",
    "z": "dff7750b.90bc68",
    "name": "Prepare Answer Object Debug",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 1040.5,
    "y": 286,
    "wires": []
  },
  {
    "id": "40c4402b.63c92",
    "type": "debug",
    "z": "dff7750b.90bc68",
    "name": "Conversation Object Debug",
    "active": false,
    "console": "true",
    "complete": "payload",
    "x": 733.5,
    "y": 132,
    "wires": []
  },
  {
    "id": "be6db449.cf80e8",
    "type": "trigger",
    "z": "dff7750b.90bc68",
    "op1": "",
    "op2": "",
    "op1type": "nul",
    "op2type": "pay",
    "duration": "250",
    "extend": false,
    "units": "ms",
    "reset": "[]",
    "name": "",
    "x": 680,
    "y": 370,
    "wires": [
      [
        "2cecea39.e91006",
        "d9efdd0d.cc0bd"
      ]
    ]
  },
  {
    "id": "49ce7879.b00d68",
    "type": "function",
    "z": "dff7750b.90bc68",
    "name": "prepare answer - simple",
    "func": "msg.payload = JSON.stringify(msg.payload.output.text);\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 556.5,
    "y": 635,
    "wires": [
      []
    ]
  },
  {
    "id": "87d895a8.2ef2e8",
    "type": "e-mail",
    "z": "dff7750b.90bc68",
    "server": "smtp.gmail.com",
    "port": "465",
    "name": "",
    "dname": "",
    "x": 612.5,
    "y": 477,
    "wires": []
  },
  {
    "id": "33a1bc0e.a877e4",
    "type": "function",
    "z": "dff7750b.90bc68",
    "name": "Set User",
    "func": "msg.user = msg.slackObj.fromUser\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 119.5,
    "y": 367,
    "wires": [
      [
        "627657ea.2c4e48",
        "f8ee169b.a8a4e8"
      ]
    ]
  },
  {
    "id": "5b31d8bf.4d79e8",
    "type": "function",
    "z": "dff7750b.90bc68",
    "name": "debug deep",
    "func": "var WatsonNodes = JSON.stringify(msg.payload.output.nodes_visited);\n\nmsg.payload = WatsonNodes\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 577.5,
    "y": 292,
    "wires": [
      [
        "46135730.10abf8"
      ]
    ]
  },
  {
    "id": "46135730.10abf8",
    "type": "debug",
    "z": "dff7750b.90bc68",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 702.5,
    "y": 238,
    "wires": []
  }
]
